<section class="bg-light pb-10 px-6 h-[calc(100vh-10rem)] flex flex-col">
  <app-search-filters
    [category]="searchCategory$ | async"
    [level]="searchLevel$ | async"
    [location]="searchLocation$ | async "
    [sortOrder]="(sortOrder$ | async)  ? 'descending' : 'ascending'"
    (onCategoryChange)="searchByCategory($event)"
    (onLevelChange)="searchByLevel($event)"
    (onLocationChange)="searchByLocation($event)"
    (onSortChange)="setSortOrder($event)"
    (onClear)="clearSearch()"
  />


  <div class="container mx-auto grid grid-cols-1 lg:grid-cols-3 gap-1 flex-1 min-h-0">
    <!-- Job List Column with Pagination -->
    <div class="h-full flex flex-col lg:overflow-hidden">
      @if (errorMessage$ | async; as error) {
        <div class="bg-red-50 text-red-600 p-4 rounded-lg mb-4">
          {{ error }}
          <button
            (click)="refreshJobs()"
            class="ml-2 text-red-700 underline hover:no-underline"
          >
            Try again
          </button>
        </div>
      }

      <app-job-list
        [jobs]="jobs$ | async"
        [selectedJobId]="(selectedJob$ | async)?.id || null"
        [isLoading]="isLoading$ | async"
        [currentPage]="currentPage$ | async"
        [totalPages]="totalPages$ | async"
        [totalItems]="totalJobs$ | async"
        (jobSelected)="onJobSelected($event)"
        (onPrevious)="onPreviousPage()"
        (onNext)="onNextPage()"
        class="flex-1 min-h-0"
      />
    </div>

    <!-- Job Details Column -->
    @if (selectedJob$ | async; as job) {
      <app-job-details
        [job]="job!"
        class="lg:col-span-2 h-full"
      />
    } @else {
      <div
        class="lg:col-span-2 h-full bg-white p-8 rounded-xl border border-secondary/20 shadow-sm flex items-center justify-center">
        @if (isLoading$ | async ) {
          <app-spinner/>
        } @else {
          <p class="text-secondary">Select a job to view details</p>
        }
      </div>
    }
  </div>
</section>
